/* Reset de estilos */
body,
h1,
h2,
p,
ul,
li,
form,
label,
input,
select,
button {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #0205a1;
    color: #fff;
    padding: 35px 0;
}

h1 {
    margin-bottom: 15px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #1acc8d;
}

section {
    padding: 100px;
}

/* Estilos del formulario de contacto */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
    color: #ffffff;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #1acc8d;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
}

button:hover {
    background-color: #02754d;
}

select {
    display: block;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center !important;
    margin-right: auto;
    margin-left: auto;
}

#contacto {
    background-color: #0205a1;
}

#contacto h1 {
    color: #ffffff;
}

/* Estilos de las tarjetas de cursos */
.curso-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 30px 5px;
    box-shadow: 2px 2px 5px #888888;
    display: inline-block;
    width: 35%;
}

.curso-card a {
    background-color: #1acc8d;
    border-radius: 25px;
    padding: 10px 25px;
    margin: 10px 0px;
    box-shadow: 2px 2px 5px #888888;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    nav li {
        display: block;
        margin: 10px 0;
    }

    form,
    select {
        max-width: 100%;
    }
}