/* Reset de estilos */
body,
h1,
h2,
p,
ul,
li,
form,
label,
input,
select,
button {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
}

/* Estilos del formulario de contacto */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Estilos de las tarjetas de cursos */
.curso-card {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 2px 2px 5px #888888;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    nav li {
        display: block;
        margin: 10px 0;
    }

    form,
    select {
        max-width: 100%;
    }
}